[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_irfanview
name: IrfanView
description: Schneller und kompakter Bildbetrachter / Fast freeware image viewer
advice: 
version: 4.51
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: language
multivalue: False
editable: False
description: Sets the installation language of the program. Can be changed by the user later.
values: ["auto", "de", "en", "fr"]
default: ["auto"]

[ProductProperty]
type: unicode
name: desktopicon
multivalue: False
editable: False
description: Icon on Desktop
values: ["no", "yes"]
default: ["no"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_irfanview (4.51-1) stable; urgency=low

	* Neue Upstreamversion
	* Dateiname Installer Plugins entsprechend Download geändert

 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 15.03.2018

dfn_irfanview (4.50-1) stable; urgency=low

	* o4i-Logo Switch eingebaut, Update auf 4.50 -> Exe getauscht, i_view32.ini-Datei ist jetzt auf UCS-2LE, auskommentiert, bis der neue WINST das Encoding mit den Patches-Sektionen kann...

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 11 Oct 2017 13:43:51 +0000

dfn_irfanview (4.38-4) stable; urgency=low

	* $ProductId$ wie in 'control' angeglichen

 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 21.07.2015

dfn_irfanview (4.38-3) stable; urgency=low

	* Desktopicon configurable
 	* "Custom directory"

 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 30.06.2015

dfn_irfanview (4.35-1) stable; urgency=low

	* iview435
 	* plugins435

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 27 Feb 2013 14:44 +0000

dfn_irfanview (4.33-2) stable; urgency=low

 	* set Priority from -20 to 0
 	* requiredWinstVersion >= "4.11.2.6"
 	* setloglevel = 6
 	* fix trailing space in Winbatch_uninstall
 	* code cleanup

 -- d.oertel <d.oertel@uib.de>  Thu, 19 Jul 2012 15:00 +0000

dfn_irfanview (4.33-1) stable; urgency=low

	* iview433
	* plugins

 -- s.ehlers <s.ehlers@uib.de>  Mon, 27 Jun 2012 15:00 +0000

dfn_irfanview (4.32-1) stable; urgency=low

	* iview432
	* plugins

 -- b.wolf@uib.de <b.wolf@uib.de>  Mon, 22 Jan 2012 11:19:22 +0000
